.prose:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    --tw-prose-body: hsl(var(--muted-foreground));
    --tw-prose-headings: hsl(var(--foreground));
    --tw-prose-lead: hsl(var(--muted-foreground));
    --tw-prose-links: hsl(var(--muted-foreground));
    --tw-prose-bold: hsl(var(--foreground));
    --tw-prose-counters: hsl(var(--muted-foreground));
    --tw-prose-bullets: hsl(var(--muted-foreground));
    --tw-prose-hr: hsl(var(--border));
    --tw-prose-quotes: hsl(var(--foreground));
    --tw-prose-quote-borders: hsl(var(--primary));
    --tw-prose-captions: hsl(var(--muted-foreground));
    --tw-prose-code: hsl(var(--muted-foreground));
    --tw-prose-pre-code: hsl(var(--muted-foreground));
    --tw-prose-pre-bg: hsl(var(--card));
    --tw-prose-th-borders: hsl(var(--border));
    --tw-prose-td-borders: hsl(var(--border));

    /* Base */
    color: var(--tw-prose-body);
    font-size: var(--type-base-size);
    line-height: var(--type-base-line);
}

.prose :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    /* Text */
    &:where(p) {
        margin-top: calc(var(--spacing) * 4);
        margin-bottom: calc(var(--spacing) * 4);
    }

    &:where([class~="lead"]) {
        font-size: var(--type-base-size);
        line-height: var(--type-base-line);
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

    /* Lists */
    &:where(ol) {
        list-style-type: decimal;

        margin-top: calc(var(--spacing) * 4);
        margin-bottom: calc(var(--spacing) * 4);
        padding-inline-start: calc(var(--spacing) * 5.75);
    }
    &:where(ul) {
        list-style-type: disc;

        margin-top: calc(var(--spacing) * 4);
        margin-bottom: calc(var(--spacing) * 4);
        padding-inline-start: calc(var(--spacing) * 5.75);
    }
    &:where(li) {
        margin-top: calc(var(--spacing) * 2);
        margin-bottom: calc(var(--spacing) * 2);
    }
    &:where(ol > li) {
        padding-inline-start: 1px;
        margin-top: 0;
        margin-bottom: 0;
    }
    &:where(ul > li) {
        padding-inline-start: 1px;
        margin-top: 0;
        margin-bottom: 0;
    }

    /* Horizontal rules */
    &:where(hr) {
        margin-top: calc(var(--spacing) * 8);
        margin-bottom: calc(var(--spacing) * 8);
    }

    /* Quotes */
    &:where(blockquote) {
        color: var(--tw-prose-quotes);

        border-left-width: 2px;
        border-left-color: var(--tw-prose-quote-borders);

        padding-inline-start: 0;
        margin-top: calc(var(--spacing) * 10);
        margin-bottom: calc(var(--spacing) * 10);
    }
    &:where(blockquote p) {
        margin: 0;
        font-weight: 500;
        font-style: italic;

        font-size: var(--type-xl-size);
        line-height: var(--type-xl-line);
    }
    &:where(blockquote p:first-of-type::before) {
        content: open-quote;
    }
    &:where(blockquote p:last-of-type::after) {
        content: close-quote;
    }

    /* Headings */
    &:where(h1) {
        color: var(--tw-prose-headings);
        font-weight: 600;

        font-size: var(--type-3xl-size);
        line-height: var(--type-3xl-line);
        margin-bottom: calc(var(--spacing) * 5);
        margin-top: calc(var(--spacing) * 10);
    }
    &:where(h2) {
        color: var(--tw-prose-headings);
        font-weight: 600;

        font-size: var(--type-2xl-size);
        line-height: var(--type-2xl-line);
        margin-bottom: calc(var(--spacing) * 4);
        margin-top: calc(var(--spacing) * 8);
    }
    &:where(h3) {
        color: var(--tw-prose-headings);
        font-weight: 600;

        font-size: var(--type-xl-size);
        line-height: var(--type-xl-line);
        margin-bottom: calc(var(--spacing) * 3);
        margin-top: calc(var(--spacing) * 8);
    }
    &:where(h4) {
        color: var(--tw-prose-headings);
        font-weight: 600;

        font-size: var(--type-lg-size);
        line-height: var(--type-lg-line);
        margin-bottom: calc(var(--spacing) * 2);
        margin-top: calc(var(--spacing) * 5);
    }

    &:where(h2 + *) {
        margin-top: 0;
    }
    &:where(h3 + *) {
        margin-top: 0;
    }
    &:where(h4 + *) {
        margin-top: 0;
    }

    &:where(h1 strong) {
        font-weight: 900;
        color: inherit;
    }
    &:where(h2 strong) {
        font-weight: 800;
        color: inherit;
    }
    &:where(h3 strong) {
        font-weight: 700;
        color: inherit;
    }
    &:where(h4 strong) {
        font-weight: 700;
        color: inherit;
    }

    /* Media */

    &:where(img) {
        border-radius: var(--radius);
        width: 100%;
        object-fit: cover;

        margin-top: calc(var(--spacing) * 8);
        margin-bottom: calc(var(--spacing) * 8);
    }
    &:where(video) {
        margin-top: calc(var(--spacing) * 8);
        margin-bottom: calc(var(--spacing) * 8);
    }
    &:where(figure) {
        margin-top: calc(var(--spacing) * 10);
        margin-bottom: calc(var(--spacing) * 10);
    }
    &:where(figure > *) {
        margin-top: 0;
        margin-bottom: 0;
    }
    &:where(figure:has(> blockquote)) {
        border-left-width: 2px;
        border-left-color: var(--tw-prose-quote-borders);
        padding-top: calc(var(--spacing) * 2);
        padding-bottom: calc(var(--spacing) * 2);

        padding-inline-start: calc(var(--spacing) * 4);
    }
    &:where(figure:has(> blockquote) blockquote) {
        padding-inline-start: 0;
        border: none;
    }
    &:where(img + figcaption) {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 1.5);
    }
    &:where(figcaption) {
        color: var(--tw-prose-captions);

        font-size: var(--type-sm-size);
        line-height: var(--type-sm-line);
        margin-top: calc(var(--spacing) * 3);
    }
    &:where(cite) {
        font-style: normal;
    }

    /* Inline elements */
    &:where(a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a)) {
        font-weight: 400;
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    &:where(a:focus-visible) {
        border-radius: calc(var(--radius) - 0.5rem);
        outline: 2px solid hsl(var(--ring));
        outline-offset: 2px;
    }
    &:where(:is(h1, h2, h3) a) {
        color: var(--tw-prose-headings);
        font-weight: inherit;
        text-decoration: none;
    }

    /* Inline code element */
    &:where(code:not(pre code)) {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
        border-radius: calc(var(--radius) - 0.375rem);
        padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
        margin: calc(var(--spacing) * -0.5) 0px;
        background: hsl(var(--muted));
        box-shadow: 0 0 0 1px hsl(var(--border));

        &::before,
        &::after {
            content: "";
        }
    }
}

.prose.prose-centered-quote :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    &:where(blockquote) {
        padding-inline-start: 0px !important;
        border-left: none;
        text-align: center;
    }
    &:where(figure:has(> blockquote)) {
        border-left: none;
        padding-inline-start: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        text-align: center;
    }
}

.prose.prose-minimal-quote :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    &:where(blockquote) {
        border-left: none;
        padding-inline-start: 0px !important;
    }
    &:where(figure:has(> blockquote)) {
        border-left: none;
        padding-inline-start: 0px !important;
    }
}

.prose.md\:prose-lg:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @media (width >= 48rem /* 768px */) {
        /* Base */
        font-size: var(--type-lg-size);
        line-height: var(--type-lg-line);
    }
}

.prose.md\:prose-lg :not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @media (width >= 48rem /* 768px */) {
        /* Text */
        &:where(p) {
            margin-top: calc(var(--spacing) * 4.5);
            margin-bottom: calc(var(--spacing) * 4.5);
        }

        &:where([class~="lead"]) {
            font-size: var(--type-xl-size);
            line-height: var(--type-xl-line);
            margin-top: 1.09em;
            margin-bottom: 1.09em;
        }

        /* Lists */
        &:where(ol) {
            margin-top: calc(var(--spacing) * 4.5);
            margin-bottom: calc(var(--spacing) * 4.5);
            padding-inline-start: calc(var(--spacing) * 6.5);
        }
        &:where(ul) {
            margin-top: calc(var(--spacing) * 4.5);
            margin-bottom: calc(var(--spacing) * 4.5);
            padding-inline-start: calc(var(--spacing) * 6.5);
        }

        &:where(ol > li) {
            padding-inline-start: 1px;
            margin-top: 0;
            margin-bottom: 0;
        }
        &:where(ul > li) {
            padding-inline-start: 1px;
            margin-top: 0;
            margin-bottom: 0;
        }

        /* Horizontal rules */
        &:where(hr) {
            margin-top: calc(var(--spacing) * 8);
            margin-bottom: calc(var(--spacing) * 8);
        }

        /* Quotes */
        &:where(blockquote) {
            padding-inline-start: 0;
            margin-top: calc(var(--spacing) * 12);
            margin-bottom: calc(var(--spacing) * 12);
        }
        &:where(blockquote p) {
            margin: 0;

            font-size: var(--type-2xl-size);
            line-height: var(--type-2xl-line);
        }

        /* Headings */
        &:where(h1) {
            font-size: var(--type-4xl-size);
            line-height: var(--type-4xl-line);
            margin-bottom: calc(var(--spacing) * 6);
            margin-top: calc(var(--spacing) * 12);
        }
        &:where(h2) {
            font-size: var(--type-3xl-size);
            line-height: var(--type-3xl-line);
            margin-bottom: calc(var(--spacing) * 5);
            margin-top: calc(var(--spacing) * 10);
        }
        &:where(h3) {
            font-size: var(--type-2xl-size);
            line-height: var(--type-2xl-line);
            margin-bottom: calc(var(--spacing) * 4);
            margin-top: calc(var(--spacing) * 8);
        }
        &:where(h4) {
            font-size: var(--type-xl-size);
            line-height: var(--type-xl-line);
            margin-bottom: calc(var(--spacing) * 3);
            margin-top: calc(var(--spacing) * 8);
        }
        &:where(h2 + *) {
            margin-top: 0;
        }
        &:where(h3 + *) {
            margin-top: 0;
        }
        &:where(h4 + *) {
            margin-top: 0;
        }

        &:where(figure) {
            margin-top: calc(var(--spacing) * 12);
            margin-bottom: calc(var(--spacing) * 12);
        }
        &:where(figure > *) {
            margin-top: 0;
            margin-bottom: 0;
        }
        &:where(figure:has(> blockquote)) {
            padding-inline-start: calc(var(--spacing) * 5);
        }
        &:where(figure > blockquote + figcaption) {
            font-size: var(--type-base-size);
            line-height: var(--type-base-line);
        }

        &:where(figcaption) {
            margin-top: calc(var(--spacing) * 4);
        }

        /* Inline elements */
        &:where(a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a)) {
            font-weight: 400;
            text-decoration: underline;
            text-underline-offset: 3px;
        }
        &:where(:is(h1, h2, h3) a) {
            color: var(--tw-prose-headings);
            font-weight: inherit;
            text-decoration: none;
        }

        /* Inline code element */
        &:where(code:not(pre code)) {
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 700;
            border-radius: calc(var(--radius) - 0.375rem);
            padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
            margin: calc(var(--spacing) * -0.5) 0px;
            background: hsl(var(--muted));
            box-shadow: 0 0 0 1px hsl(var(--border));
        }
    }
}

/* Remove top margin from first element */
.prose > :first-child:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0;
}
.prose > :last-child:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0;
}
